{{ define "main" }}
<!--header-->
{{ partial "header.html" . }}
<!--/header-->

<!-- Section 1 -->
<section id="section1" class="relative min-h-screen text-black flex flex-col items-center justify-center gap-24 px-4 md:px-48 py-24">
  <div class="max-w-2xl text-left mr-auto">
    <h2 class="font-subtitle text-2xl md:text-3xl text-[#221FC2] mb-4">THE CHALLENGE</h2>
    <p class="font-regular text-xl font-bold leading-relaxed">
      Automation in software engineering increases coordination costs for teams, slowing down market adaptation. The coming wave of agentic AI demands shared, explicit, domain-specific models to support reliable decision-making. Building the right platform capabilities to manage scope complexity is essential for gaining a joint production advantage.
    </p>
  </div>
  <div class="max-w-2xl text-left ml-auto">
    <h2 class="font-subtitle text-2xl md:text-3xl text-[#221FC2] mb-4">OUR APPROACH</h2>
    <p class="font-regular text-xl font-bold leading-relaxed">
      We’re catching the wave by balancing the relational complexity carried by individuals and building an orchestration engine where cooperative games between teams form effortlessly. This joint interaction context creates the conditions for driving market change. Designed from first principles, Endurance cares about systems — so people can too.
      <br />
      <br />
    </p>
    <p class="font-regular text-xl font-bold leading-relaxed">We amplify human intelligence, not replace it.</p>
  </div>
</section>

<!-- Section 2 -->

<section id="section2" class="relative min-h-screen bg-[#F1E0CE] text-black flex items-center justify-start px-4 md:px-24 lg:px-48 py-24">
  <div class="text-left">
    <h2 class="font-subtitle text-2xl md:text-3xl mb-6">Things that happen</h2>
    <div class="flex flex-col md:flex-row items-center gap-6">
      <img src="images/things-happen.png" alt="" class="max-w-80" />

      <p class="font-regular text-lg font-bold leading-relaxed">
        Events are things that happen once.
        <br />
        <br />
        We try to understand them from different perspectives, such as user experience or infrastructure.
        <br />
        <br />
        Our intent is to apply the right action policy — to amplify events that are beneficial and relevant to the experience, and to diminish those that threaten reliability.
        <br />
        <br />
        > Understanding reliability is everyone's job.
      </p>
    </div>
  </div>
</section>

<section id="section3" class="relative min-h-screen flex items-center justify-start bg-[#E8F7FF] px-4 md:px-48 py-24">
  <div class="text-left">
    <h2 class="font-subtitle text-2xl md:text-3xl mb-6">Sense of activity</h2>
    <div class="flex flex-col md:flex-row items-center gap-6">
      <img src="images/sense-activity.png" alt="" class="max-w-80" />

      <p class="font-regular text-lg font-bold leading-relaxed">
        We care about the conditions in which relevant events happen. They help us form a sense of context and give us the ability to grasp what’s going on.
        <br />
        <br />
        Traceability — the sense of meaningful activity — is what we aim to preserve over time.
        <br />
        <br />
        > Causal understanding enable the best possible decisions, under the circumstances, in the midst of change.
      </p>
    </div>
  </div>
</section>

<section id="section4" class="relative min-h-screen flex items-center justify-start bg-[#FFF3F3] px-4 md:px-48 py-24">
  <div class="text-left">
    <h2 class="font-subtitle text-2xl md:text-3xl mb-6">Power to run</h2>
    <div class="flex flex-col md:flex-row items-center gap-6">
      <img src="images/power-run.png" alt="" class="max-w-80" />

      <p class="font-regular text-lg font-bold leading-relaxed">
        We build capabilities with the power to run activity the way it needs to be:
        <br />
        &nbsp;&nbsp;&nbsp;– with all the data required to meet user needs
        <br />
        &nbsp;&nbsp;&nbsp;– with trusted, correct data available at the right time
        <br />
        <br />
        Infrastructure calls for data isolation, while domain-specific needs demand deep interconnection to extract value. This tension creates relational complexity that must be balanced through timely, high-quality team decisions.
        <br />
        <br />
        > Cost of delay is real — in architecture, it’s often hidden in slow decisions, unclear ownership, and trapped knowledge
      </p>
    </div>
  </div>
</section>

<section id="section5" class="relative min-h-screen flex items-center justify-start bg-[#F2FFE8] px-4 md:px-48 py-24">
  <div class="text-left">
    <h2 class="font-subtitle text-2xl md:text-3xl mb-6">Flow solves autonomy</h2>
    <div class="flex flex-col md:flex-row items-center gap-6">
      <img src="images/flow-autonomy.png" alt="" class="max-w-80" />

      <p class="font-regular text-lg font-bold leading-relaxed">
        We do capability design for Flow — focusing on enabling change in a predictable ways with an affordable rate.
        <br />
        <br />
        Capability design can be seen as the ‘theory’ or shared model that best explains what is happening. These explicit beliefs support autonomous decision-making and help build more reliable systems.
        <br />
        <br />
        > Decision quality improves not by centralization, but by designing systems that let the right decisions happen at the right time, with minimal friction.
      </p>
    </div>
  </div>
</section>

<section id="section6" class="relative min-h-screen flex items-center justify-start bg-[#F1E0CE] px-4 md:px-48 py-24">
  <div class="text-left">
    <h2 class="font-subtitle text-2xl md:text-3xl mb-6">Engine for Flow</h2>
    <div class="flex flex-col md:flex-row items-center gap-6">
      <img src="images/engine.png" alt="" class="max-w-96" />

      <p class="font-regular text-lg font-bold leading-relaxed">
        When we don’t design for Flow, shared models become vulnerable to erosion. People responsible for maintaining coherence are often busy and overwhelmed.
        <br />
        <br />
        Systems fail the way they’re designed. If user experience isn’t embedded from the start, failure is just a matter of time.
        <br />
        <br />
        Endurance levels up execution by engineering capabilities that keep teams in Flow — adaptive, aligned, and fast.
        <br />
        <br />
        > Designed for teams’ collective agency — enabling more high-stakes actions with less friction.
      </p>
    </div>
  </div>
</section>

<section class="relative min-h-screen flex items-center justify-center bg-white px-4 md:px-48 py-24">
  <div class="text-center">
    <h2 class="font-title text-2xl md:text-3xl mb-12">MOVE FAST AND EVOLVE THINGS</h2>
    <div class="flex flex-col md:flex-row items-center gap-6">
      <a href="endurance-design" class="font-regular text-lg font-bold underline">Endurance Design</a>
      <a href="who-is-endurance-for" class="font-regular text-lg font-bold underline">Who is Endurance for?</a>
      <a href="whyre-we-doing" class="font-regular text-lg font-bold underline">Why're we doing?</a>
    </div>
  </div>
</section>

{{ end }}
