{{ define "main" }}
{{ partial "header.html" . }}

<section class="medieval-page-container">
  <!-- Title Block -->
  <header class="content-header">
    <h1 class="content-title">{{ .Title }}</h1>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{ $dateHuman := .Date | time.Format
    ":date_long" }}
    <time datetime="{{ $dateMachine }}" class="content-date">{{ $dateHuman }}</time>
    <div class="header-separator">⦿</div>
  </header>

  <!-- Content -->
  <div class="content-body">
    {{ .Content }}
  </div>

  <div class="flex flex-col justify-center gap-4 mt-12">
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </div>
</section>
{{ end }}