{{ define "main" }}
<section class="text-black bg-[#FCF4E0] flex flex-col justify-center gap-12 px-4 md:px-48 py-24">
    <h1 class="font-title text-3xl md:text-7xl leading-tight">{{ .Title }}</h1>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    <div class="flex flex-col justify-center gap-4">
      {{ .Content }}
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</dic>
</section>
{{ end }}