@font-face {
  font-family: 'AutoScape';
  src: url('../fonts/AutoScape.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HomeVideo';
  src: url('../fonts/HomeVideo-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HomeVideo';
  src: url('../fonts/HomeVideo-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kizhich';
  src: url('../fonts/KizhichRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kizhich';
  src: url('../fonts/KizhichBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* article page stylesheets */
h2 {
    font-family: 'HomeVideo', 'sans-serif';
    font-size: 1.3rem!important;
}

h2::first-letter {
    font-size: 1.6rem!important;
}

ul, ol {
    padding-left: 1rem!important;
}

li {
    list-style-type: disc;
}

/* p {
    font-family: 'Kizhich', 'sans-serif';
} */

blockquote {
    background: #d7c9aa;
    padding: 10px;
    border-radius: 0.5rem;
}

.highlight {
    overflow: scroll;
    background: #d7c9aa;
}

.highlight * {
    background: inherit!important;
    color: #000!important;
}
