<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Tailwind -->
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
    theme: {
        extend: {
        fontFamily: {
            title: ['AutoScape', 'sans-serif'],
            subtitle: ['HomeVideo', 'sans-serif'],
            regular: ['Kizhich', 'sans-serif'],
        },
        },
    },
    };
</script>
<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<style>
    html,
    body {
    margin: 0;
    height: 100%;
    }
</style>
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}